@charset "UTF-8";
/* CSS Document */


.flex-container {
	background-color: light-blue;
	height: 150px;
	width: 500px;
	display: flex;
	
	}

.box {
	
	background-color: orange;
	height: 50px;
	width: 50px;
	
	}	
		